@font-face {
    font-family: pixel;
    src: url(../fonts/Minecraft.ttf);
}

body {
    padding: 30px 20px;
    font-family: pixel, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
    width: 100%;
}

.sketch-box {
    position: relative;
    margin: 20px auto;
    display: grid;
    width: 500px;
    height: 500px;
    border: 30px solid rgba(182, 35, 35);
    border-bottom: 100px solid rgba(182, 35, 35);
    border-radius: 20px;
    box-shadow: inset 1px 1px 10px 0 rgba(0, 0, 0, 0.8),
        5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.sketch-box > div {
    background: rgba(0, 0, 0, 0.025);
    border: 1px solid rgba(0, 0, 0, 0.05);
    flex: 1 1 5px;
    z-index: 100;
}

.btns-container {
    position: absolute;
    bottom: -70px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    left: 50%;
    transform: translateX(-50%);
}

button {
    font-size: 1.2rem;
    margin: 5px 10px;
    padding: 10px 20px;
    background: rgb(228, 228, 228);
    color: rgba(0, 0, 0, 0.651);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.301);
    transition: all 0.2s;
    min-width: 200px;
}

button:active {
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: rgb(199, 199, 199);
}

@media only screen and (max-width: 500px) {
    .sketch-box {
        width: 80vw;
        height: 50vh;
        border-bottom: 120px solid rgba(182, 35, 35);
    }

    button {
        font-size: 1rem;
    }

    .btns-container {
        flex-wrap: wrap;
        bottom: -110px;
    }
}
